.PageHeader {
    grid-column-start: col0;
    grid-column-end: col-end;
    grid-row-start: 1;
    grid-row-end: 2;

    justify-self: stretch;
    align-self: stretch;

    background: black;
}

.AppIcon {
}

.PageTitle {
}

.ProfileWidget {
}