.quest-line {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr); /*define the number of column*/
    grid-auto-flow: dense; /* this is important to fill all the space*/
    grid-gap: 20px;
    padding: 10px;
    justify-items: center;
}

.quest {
    text-decoration: none;
    color: black;
}

.quest-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    font-size: 5vw;
    background-color: #fafafa;
    border: 4px solid black;
    border-radius: 50%;
    transition: all 0.2s;
    margin: auto;
}

.quest-sign:hover {
    cursor: pointer;
    filter: invert(1);
    border-color: white;
}

.quest-text {
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: large;
}

.quest:nth-child(10n + 6)  {grid-column:5}
.quest:nth-child(10n + 7)  {grid-column:4}
.quest:nth-child(10n + 8)  {grid-column:3}
.quest:nth-child(10n + 9)  {grid-column:2}
